.profile__info {
  margin: 22px 27.73% 25px 3.41%;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 24px;
  row-gap: 7px;
  column-gap: 18px;
}

@media screen and (min-width: 320px) and (max-width: 1023px) {

  .profile__info {
    margin: 0 auto;
    grid-template-columns: 189px 24px;
    column-gap: 10px;
    width: 191px;
  }
}