 .popup__field {
  height: 34px;
  width: 358px;
  margin: 0 0 20px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  outline: none;
 }

@media screen and (min-width: 320px) and (max-width: 1023px) {

  .popup__field {
    max-width: 238px;
    line-height: 17px;
    margin: 0 auto 20px;
  }
}